<ul>
  <%= @patients.each do |patient| %>
    <li>
      <h2><%= link_to patient.name, patient_path(patient)%></h2>
      <p><%= pluralize(patient.appointments.count, 'appointment') %></p>
    </li>
  <%end%>
</ul>